.tasklist {
  display: flex;
  align-items: center;
  justify-content: center;
}

.taskWrapper {
  display: inline-block;
  margin: 0 auto;
  margin-top: 50px;
}

.mapwrap {
  display: flex;
  padding: 10px 20px;
  background-color: #b0e0e6;
  border: 1px solid black;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

.mapwrap p {
  font-size: 18px;
  font-weight: 600;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 20px;
}

.mapwrap button {
  padding: 5px 10px;
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: flex;
}
