.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo {
  display: flex;
  align-items: center;
}

.manu ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.manu ul li {
  padding: 10px 20px;
  background-color: powderblue;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
